:root{
    --cor-verde-starbucks: #046d3c;
    --cor-preto-texto: #222222;
    --cor-cinza-borda: #e2e2e2;
    --cor-branco-borda: #fbfbfb;
    --cor-fundo: #f7f7f7;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-preto-texto);
}

.cabecalho{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid var(--cor-cinza-borda);
}

.logos{
    height: 8vh;
}

.container{
    /* Propriedade defini o tamanho, a largura máxima que ele pode atingir */
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao{
    display: flex;
    gap: 19px;
}

.item{
    text-decoration: none;
    color: var(--cor-preto-texto);
    font-weight: 600;
    padding: 15px 0;
    border-bottom: 5px solid transparent;
}

.item:focus,
.item:hover{
    color: var(--cor-verde-starbucks);
    border-bottom-color: var(--cor-verde-starbucks);
}

.localizacao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
}

.imglogo{
    height: 5vh;
    display: flex;
    justify-content: flex-end;
}

.texto-local{
    border: none;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
}


.acao{
    display: flex;
    align-items: center;
    gap: 14px;
}

.encontrar{
    text-decoration: none;
    color: var(--cor-preto-texto);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
}


.botao-entrar{
   background-color: var(--cor-branco-borda);
    color: var(--cor-preto-texto);
    border: 14;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.Participe{
   background-color: var(--cor-preto-texto);
    color: var(--cor-branco-borda);
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;  
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 6vh;
}

.banner-imagem{
    /* Aplicando imagem como plano de fundo */
    background-image: url("./img/starbucks.avif");
    width: 100%;
        height: 30vh;
    /* A propriedade background-repeat faz com que o elemento duplique até preencher o espaço
    background-repeat: no-repeat;
    A propriedade background-size define o preenchimento do div, se cobrira todo o elemento div
    background-size: cover; */
}

.banner-texto{
    background-color: rgb(212, 233, 226);
    margin-top: 1rem;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}
.banner-texto p{
text-align: center;
}

.Saiba-mais{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
}

.banner-tres{
    display: flex;
}

.tamanho{
    width: 50%;;
}

.estilo-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 233, 226);
}

.card-rodape{
    background-color: rgb(37, 37, 37);
    text-align: center;
    padding: 6px;
}

.rodape-principal{
    background-color: #4a4a4a;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-container{
    display: flex;
    gap: 40px;

}

.coluna-rodape{flex: 1;} /* Faz com que os elementos ocupem todo o espaço */
.coluna-rodape h3 {margin-bottom: 20px;}
.coluna-rodape ul {list-style: none;}
.coluna-rodape ul li {margin-bottom: 10px;}
.coluna-rodape a {text-decoration: none; color: #e2e2e2; transition: color 0.2s ease;}
.coluna-rodape a:hover {color: rgb(0, 255, 0)}
.icones-sociais a {margin-right: 15px; font-size: 20px;}
